
body {
    --s: 200px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;

    background:
            repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg)
            calc(.5*var(--s)) calc(.5*var(--s)*0.577),
            repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s)*0.577);
}


#container {
            display: flex;
            overflow: hidden; /* Prevent table from overflowing outside the container */
            margin-top: 10px;
            height: 705px;

        }

.left-column {
    flex: 0.8;
    border: 0; /* Set a border for the container */
    border-radius: 10px;
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );

    padding: 10px;
    margin-top: 5px
}

.right-column {
                flex: 1.5;
                border: 0; /* Set a border for the container */
                border-radius: 10px;
                background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
                padding: 10px;
                margin-top: 5px
        }

.center-column {

    flex: 4; /* The center column is twice wider than the others */

    margin-right: 5px;
    margin-left: 5px;
    overflow-y: auto;
    border: 0; /* Set a border for the container */
    border-radius: 10px;
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
    margin-top: 5px
}

table {
    width: 100%;
    border-collapse: collapse;
}

.btn-toggle {
  display: flex;
  align-items: left;
  padding: .4rem 2rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}

.tableHead {
            text-align: center;
        }

.ui-datepicker-calendar {
    display: none;
}

.btn-sm {
    width: 160px; /* Set the desired width */
    height: 55px; /* Set the desired height */
    font-size: 14px; /* Set the font size */
}

.btn-shadow {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.form-rounded {
    border-radius: 10px;
}

