
body {

        --s: 200px; /* control the size */
        --c1: #1d1d1d;
        --c2: #4e4f51;
        --c3: #3c3c3c;

        background:
                repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg)
                calc(.5*var(--s)) calc(.5*var(--s)*0.577),
                repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
        background-size: var(--s) calc(var(--s)*0.577);
}



.updateCont {
        height: 550px;
        width: 500px;
        background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
        border: 0;
        border-radius: 20px;
        margin: 10px;
        padding: 20px;
        font-size: 18px;
        color: #333;
}

#container {
        display: flex;
        justify-content: center; /* Horizontally center the container */
        min-height: 70vh;
}

