<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Expense</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/updateStyle.css}" />

</head>
<body class="body">

<div class="container-fluid" id="container" >

    <div class="center-column">
        <div><br></div>
        <div><br></div>
        <!-- Sidebar content -->
        <div class="updateCont">
            <h3 class="tableHead">Edit your expense:</h3>
            <form  th:action="@{/update}" th:object="${expense}" method="post" novalidate>
                <div class="mb-3"> <!--id of expense-->
                    <input type="hidden" id="id" class="form-control" th:field="*{id}"  th:errorclass="is-invalid" aria-describedby="idHelp">
                    <div id="validationId" class="invalid-feedback" th:errors="*{id}">
                    </div>
                </div>

                <div class="mb-3"> <!--name of expense-->
                    <label for="name"  class="form-label">Name of expense</label>
                    <input type="text" id="name" class="form-control" th:field="*{name}"  th:errorclass="is-invalid" aria-describedby="nameHelp">
                    <div id="validationName" class="invalid-feedback" th:errors="*{name}">
                    </div>
                </div>

                <!--type of expense-->
                <div class="mb-3">
                    <label class="form-label" for="expenseType">Type of expense</label>
                    <select class="form-select" id="expenseType" th:field="*{expenseType}" th:errorclass="is-invalid" >
                        <option selected disabled value="">Choose the type of expense </option>
                        <option th:each="expenseType : ${expenseTypes}" th:value="${expenseType.expenseCategory}" th:text="${expenseType.expenseCategory}">
                    </select>
                    <div id="validationExpenseType" class="invalid-feedback" th:errors="*{expenseType}">
                    </div>
                </div>

                <div class="mb-3"> <!--amount-->
                    <label for="amount" class="form-label">Amount</label>
                    <input type="number" class="form-control" id="amount" th:field="*{amount}" th:errorclass="is-invalid">
                    <div id="validationAmount" class="invalid-feedback" th:errors="*{amount}">
                    </div>
                </div>

                <div class="mb-3"> <!--date-->
                    <label for="date" class="form-label">Date of expense</label>
                    <input type="date" class="form-control" name="date" id="date" th:value="*{date}" th:errorclass="is-invalid">
                    <div id="validationDate" class="invalid-feedback" th:errors="*{date}">
                    </div>
                </div>

                <div class="mb-3"> <!--date-->
                    <input type="hidden" class="form-control" name="creationDate" id="creationDate" th:field="*{creationDate}">
                </div>

                <br>
                <button type="submit" class="btn btn-outline-dark btn-sm btn-shadow">Save changes</button>

                <a th:href="@{/expenses}" class="btn btn-dark btn-sm btn-shadow cancel-btn">Cancel</a>
            </form>
        </div>
        <!--   ---------------------------------------------------------------->
    </div>
</div>

</body>
</html>
